AI/.env
Clocks/Dinger/audio/*.mp3
Clocks/Dinger/audio/*.wav
Clocks/Dinger/reminders*.csv
*/__pycache__/*.pyc
*.exe
*.pyc
Clocks/Dinger/shots_*.txt
/Video/frames
Video/output.mp4
Genten/backend/build/*
Genten/backend/include/CMakeFiles/*
Genten/backend/include/asio/src/examples/*
Genten/backend/include/asio/src/doc/*
Genten/backend/include/asio/src/tests/*
node_modules
.vscode
*.mp4
Genten/backend/include/Crow/docs
Genten/backend/include/Crow/examples
Genten/backend/include/Crow/tests